<h2>New Password</h2>

<%= form_tag password_path do %>
  <fieldset>
    <p>Please enter your email address. An email will be sent to you which will include a link to reset your password.</p>
    <%= label_tag 'user[email]', "Email" %>
    <%= text_field_tag 'user[email]' %>
  </fieldset>

  <%= buttons do %>
    <%= submit_tag "Reset password" %>
  <% end %>
<% end %>
