<%= content_for :sidebar do %>
	<p class="hint text_only large padded">
		<%= t :'adva.categories.hints.parent_setting_for_edit' %>
	</p>
<% end %>

<h2><%= t(:'adva.categories.titles.edit') %></h2>

<%= form_for [:admin, @section, @category] do |f| %>
	<% f.field_set do %>
    <div class="col">
      <%= f.text_field :title, :label => true, :hint => :'adva.hints.categories' %>
		</col>

    <div class="col">
      <%= f.text_field :permalink, :label => true, :hint => :'adva.categories.hints.permalink' %>
		</col>
  <% end %>

  <% save_or_cancel_links f, cancel_url: [:admin, @section, :categories] %>
<% end %>

