<!-- HACK: empty line must be here for split_form_for to work properly -->
<fieldset>
  <div class="col">
    <%= hidden_field_tag 'cl', Article.locale %>

    <p><%= f.text_field :title, class: 'big', label: "Title", style: "float: none" %></p>

    <input id="toggle_excerpt" type="checkbox" <%= "checked" if @article.has_excerpt? %>>

    <p class="show-if-previous-checked">
      <label for="article_excerpt">
        Excerpt
        <span>(<%= link_to "Hide", '#', onclick: 'document.getElementById("toggle_excerpt").checked = false; return false' %>)</span>
      </label>
      <%= f.text_area :excerpt, class: 'wysiwyg' %>
    </p>

    <p class="show-if-previous-unchecked">
      <label for="article_body" style="display: inline">Body</label>
      <span>(<%= link_to "Add an excerpt", '#', onclick: 'document.getElementById("toggle_excerpt").checked = true; return false' %>)</span>
    </p>
    <p class="show-if-previous-checked">
      <label for="article_body" style="display: inline">Body</label>
    </p>

    <%= f.text_area :body, class: editor_class_for(@article) %>
  </div>
</fieldset>

<%= render 'options', f: f %>

<%= content_for :sidebar do %>
  <%= f.label :draft, "Save as Draft?" %>
  <%= f.check_box :draft?, label: "Yes, save this article as a draft" %>

  <p class="show-if-previous-unchecked">
  <%= f.label :published_at, "Publish on this date" %>
  <%= f.datetime_select :published_at,
    start_year: (@article.published_at || Time.zone.now).year-1,
    end_year: (Time.zone.now.year + 5),
    order: [:month, :day, :year] %>
  </p>
<% end %>
