<h2>New article</h2>

<%= split_form_for @article, as: :article, url: [:admin, @section, :articles], html: { multipart: true, id: 'content_form' } do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <%= content_for :sidebar do %>
    <div id="save">
      <%= submit_tag "Save", :name => 'save_revision' %>
      <%= link_to "Cancel", [:admin, @section, :articles] %>
    </div>
  <% end %>
<% end %>
