= content_for :sidebar do
  %p.hint.text_only.large.padded
    = t :'adva.sections.hints.parent_setting_for_edit'

%h2= t(:'adva.titles.general_settings')

%fieldset
  .col
    = f.text_area :title, :label => "Title"
    %p
      %label{:for => "published"}= t(:'adva.sections.titles.publish')
      %span.hint{:for => "published"}= t :'adva.sections.hints.publish'
      = f.check_box :published, :label => true
    %p= f.check_box :hidden_on_global_nav, :label => true

  .col
    = f.text_field :permalink, :label => true, :hint => :'adva.sections.hints.permalink'

= render :partial => "admin/sections/settings/#{@section.type.underscore}", :locals => { :f => f }
= render :partial => "admin/sections/settings/permissions", :locals => { :f => f }
