<div class="activities">
  <h3>Today <%= Date.current.to_fs(:short) %></h3>
  <%= render_activities activities[0], true %>

  <h3>Yesterday <%= Date.current.yesterday.to_fs(:short) %></h3>
  <%= render_activities activities[1], true %>

  <h3>Before <%= Date.current.yesterday.to_fs(:short) %></h3>
  <%= render_activities activities[2] %>
</div>
