<fieldset>
  <div class="col">
    <%= f.text_field :first_name, :label => "First name" %>
    <%= f.email_field :email, :label => "Email" %>
    <%= f.password_field :password, :label => "Password" %>
    <%= f.check_box :admin, :label => " Admin?" %>
  </div>

  <div class="col">
    <%= f.text_field :last_name, :label => "Last name" %>
    <%= f.text_field :homepage, :label => "Homepage" %>
  </div>
</fieldset>

<% save_or_cancel_links(f, :cancel_url => admin_users_path) %>
