<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>adva-cms: admin</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'admin/shared/header' %>
    <div id="page">
      <% if content_for?(:form) %>
        <%= yield :form %>
      <% end %>
      <div class="main">
        <div id="content">
          <%= render partial: 'shared/flash' %>
          <%= yield %>
        </div>
      </div>
      <div id="sidebar" class="right">
        <%= yield :sidebar %>
      </div>
    </div>
  </body>
  </html>

