<h2><%= t(:'adva.titles.general_settings') %></h2>

<fieldset>
  <div class="col">
    <%= form.text_field :name, label: :'adva.sites.label.name' %>
    <%= form.text_field :title, label: :'adva.sites.label.title' %>
    <%= form.email_field :email, label: :'adva.sites.label.admin_email' %>
  </div>

  <div class="col">
    <%= form.text_field :host, label: :'adva.sites.label.host' %>
    <%= form.text_field :subtitle, label: :'adva.sites.label.subtitle' %>
    <%= form.time_zone_select :timezone, [ActiveSupport::TimeZone['UTC']], label: :'adva.sites.label.timezone' %>
  </div>
</fieldset>
