<h2>New Site</h2> 

<%= form_for [:admin, Site.new] do |form| %>
  <h2>Home Section</h2>  

  <% form.field_set :'home_section' do %>
    <%# Avoid passing unpermitted parameters directly to AR models %>
    <% section_attrs = { title: params.dig(:section, :title), type: params.dig(:section, :type) }.compact %>
    <%= fields_for :section, Section.new(section_attrs) do |s| %>
      <% column do %>
        <%= s.label :title %>
        <%= s.text_field :title %>
      <% end %>
      <% column do %>
        <%= s.collection_select :type, Section.types, :to_s, :to_s, {}, :label => true, :tabindex => :section_title %>
      <% end %>
    <% end %>
  <% end %>

  <%= render "form", form: form %>

  <% save_or_cancel_links(form) %>
<% end %>
